# Database
MONGO_URI=mongodb+srv://root:4Hooks%402026@cluster0.erm4ikq.mongodb.net/chichili
PORT=8000


# Authentication
JWT_SECRET=chihili-secret
JWT_EXPIRE=7d

BCRYPT_ROUNDS=12
JWT_ACCESS_SECRET=chihili-access
JWT_ACCESS_EXPIRE=1d

JWT_REFRESH_SECRET=chihili-refresh
JWT_REFRESH_EXPIRE=30d

# Application
# CLIENT_URL=http://localhost:3000
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://13.204.172.11,https://chihili.com,https://www.chihili.com,https://admin.chihili.com,https://chihili-admin.vercel.app
NODE_ENV=development

# MSG91 (SMS)
MSG91_AUTHKEY=404130AImx4jyLp565115ed9P1
MSG91_SMS_OTP_TEMPLATE_ID=657da392d6fc0528864c2a72
MSG91_DOMAIN=mail.chihili.com
COMPANY_NAME=Chihili
MSG91_EMAIL_FROM=no-reply@mail.chihili.com
MSG91_EMAIL_OTP_TEMPLATE_ID=global_otp

# MSG91 Admin Notification Template
MSG91_ADMIN_ORDER_TEMPLATE_ID=template_02_09_2025_17_09_2
ADMIN_EMAIL=lossantosh00@gmail.com

#AWS S3 Storage

AWS_REGION=ap-south-1
AWS_BUCKET_NAME=chihill

# AWS_REGION="ap-south-1"
# AWS_BUCKET_NAME="chihili-bucket"
# AWS_BUCKET_BASE_FOLDER=dev

#PhonePe
PHONEPE_CLIENT_ID=SU2510091842523819332514
PHONEPE_CLIENT_SECRET=eea6ded8-2b0c-44b4-9edc-b21e0be9f6e0
PAYMENT_ENV=PRODUCTION
MERCHANT_REDIRECT_URL=https://chihili.com/payment-status
MERCHANT_CALLBACK_URL=https://chihili.com/payment-callback

DELHIVERY_BASE_URL=https://track.delhivery.com
DELHIVERY_TOKEN=634e283897270fa3b5b9c651487d0eefd2e36d8c

#phone pe testing keys
# PHONEPE_CLIENT_ID=TEST-M22GJ8A1EGOI5_25042
# PHONEPE_CLIENT_SECRET=YzI4N2QyNjktNDRlMS00YjlkLWFjNjktODEzNTM2NmRhNjJk